.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  background: #F8E9DD;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Balance Component Styling  */

.balance-container {
  height: 97px;
  width: 343px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #EC755D;
  margin-top: 67px;
}

.balance-img {
  background: #EC755D;
  margin-right: 24px;
}

.my-balance {
  margin-left: 20px;
  height: 88px;
  width: 55px;
}

.my-balance-p1 {
  background: #EC755D;
  font-size: 15px;
}

.my-balance-p2 {
  background: #EC755D;
  font-size: 24px;
}




