.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


html {
  background: #F8E9DD;
}

p {
  font-family: DM sans, sans-serif;
}

.App {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Balance Component Styling  */

.balance-container {
  height: 97px;
  width: 343px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #EC755D;
  margin-top: 67px;
}

.balance-img {
  background: #EC755D;
  margin-right: 24px;
}

.my-balance {
  background: #EC755D;
  margin-left: 20px;
  height: 88px;
}

.my-balance-p1 {
  background: #EC755D;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.my-balance-p2 {
  background: #EC755D;
  font-size: 24px;
  line-height: 1px;
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
}

/* Spending Component Styling  */

.spending-container {
  width: 343px;
  height: 421px;
  background: #FFFBF6;
  border-radius: 10px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .spending-container > :not(marquee), .chart-container > :not(marquee), .day-container > :not(.money-container), .month-container > :not(marquee), .month-container-left > :not(marquee), .month-container-right > :not(marquee)  {
  background: none;
} */


.spending-seven {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #382314;
  position: relative;
  left: -15px;
}

.chart-container {
  position: relative;
  display: flex;
  width: 303px;
  height: 177px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid #F8E9DD;
  top: 25px;
  margin-top: 20px;
}


.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.day-container > p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #92857A;
}


.money-container {
  width: 33px;
  height: 150px;
  background: #EC755D;
  border-radius: 3px;
  cursor: pointer;
}

.money-container:hover {
  background: #FF9B86;
}





.month-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 303px;
  align-items: center;
}

.month-container-right {
  margin-top: 15px;
}

.month-p1 {
  position: relative;
  top: 25px;
}

.month-p1, .month-p4 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #92857A;
}

.month-p2 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #382314;
}


.month-p3 {
  position: relative;
  top: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #382314;
}


@media only screen and (min-width: 600px) {
  
  .balance-container {
    height: 125px;
    width: 540px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: #EC755D;
  }
  
  .balance-img {
    background: #EC755D;
    margin-right: 38px;
    height: 48px;
    width: 72px;     
  }
  
  .my-balance {
    position: relative;
    background: #EC755D;
    margin-left: 33px;
    height: 88px;
    top: -10px;
  }
  
  .my-balance-p1 {
    background: #EC755D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
  }
  
  .my-balance-p2 {
    background: #EC755D;
    font-size: 32px;
    line-height: 1px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
  }
  
  /* Spending Component Styling  */
  
  .spending-container {
    width: 540px;
    height: 511px;
    background: #FFFBF6;
    border-radius: 20px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* .spending-container > :not(marquee), .chart-container > :not(marquee), .day-container > :not(.money-container), .month-container > :not(marquee), .month-container-left > :not(marquee), .month-container-right > :not(marquee)  {
    background: none;
  } */
  
  
  .spending-seven {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #382314;
    position: relative;
    left: -60px;
    margin-top: 50px;
    top: 5px;
  }
  
  .chart-container {
    position: relative;
    display: flex;
    width: 460px;
    height: 177px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid #F8E9DD;
    top: 25px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  
  
  .day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .day-container > p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #92857A;
  }
  
  .chart-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .money-container {
    width: 50px;
    height: 150px;
    background: #EC755D;
    border-radius: 5px;
  }

  .money-detail1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFBF6;
    border-radius: 5px;
    width: 75px;
    height: 40px; 
    margin-bottom: 8px;
    background: #382314;
    border-radius: 5px;
    margin-left: -12.5px;
    margin-right: -12.5px;
  }
  
  
  .month-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 460px;
    align-items: center;
    position: relative;
    top: -20px;
  }
  
  .month-container-right {
    margin-top: 40px;
  }

  .month-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .month-p1 {
    position: relative;
    top: 60px;

  }


  .month-p1, .month-p4 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #92857A;
  }
  
  .month-p2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #382314;
  }
  
  
  .month-p3 {
    position: relative;
    top: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #382314;
  }
  
  .month-p4 {
    text-align: right;
  }
}