.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  background: #F8E9DD;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Balance Component Styling  */

.balance-container {
  height: 97px;
  width: 343px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #EC755D;
  margin-top: 67px;
}

.balance-img {
  background: #EC755D;
  margin-right: 24px;
}

.my-balance {
  background: #EC755D;
  margin-left: 20px;
  height: 88px;
}

.my-balance-p1 {
  background: #EC755D;
  font-size: 15px;
  font-family: DM sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.my-balance-p2 {
  background: #EC755D;
  font-size: 24px;
  line-height: 1px;
  font-family: DM sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
}

/* Spending Component Styling  */

.spending-container {
  width: 343px;
  height: 421px;
  background: #FFFBF6;
  border-radius: 10px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-container {
  display: flex;
  width: 303px;
  height: 177px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  border: solid black 1px;
}

.money-container {
  width: 33px;
  height: 150px;
  background: black;
}





